node_modules/
dist/
reference/
.codex
assets/audio/*.mid

README.md
docs/
scripts/
tests/
package.json
package-lock.json
playwright.config.*

assets/th06-img/jpg/*
!assets/th06-img/jpg/select00.jpg
!assets/th06-img/jpg/title00.jpg

assets/th06-img/png/*
!assets/th06-img/png/eff01.png
!assets/th06-img/png/eff02.png
!assets/th06-img/png/eff03.png
!assets/th06-img/png/eff04.png
!assets/th06-img/png/eff05.png
!assets/th06-img/png/etama3.png
!assets/th06-img/png/etama4.png
!assets/th06-img/png/face00a.png
!assets/th06-img/png/face00b.png
!assets/th06-img/png/face00c.png
!assets/th06-img/png/face01a.png
!assets/th06-img/png/face01b.png
!assets/th06-img/png/face01c.png
!assets/th06-img/png/face03a.png
!assets/th06-img/png/face03b.png
!assets/th06-img/png/face05a.png
!assets/th06-img/png/face06a.png
!assets/th06-img/png/face06b.png
!assets/th06-img/png/face08a.png
!assets/th06-img/png/face08b.png
!assets/th06-img/png/face09a.png
!assets/th06-img/png/face09b.png
!assets/th06-img/png/face10a.png
!assets/th06-img/png/face10b.png
!assets/th06-img/png/front.png
!assets/th06-img/png/player00.png
!assets/th06-img/png/player01.png
!assets/th06-img/png/stg1bg.png
!assets/th06-img/png/stg1enm.png
!assets/th06-img/png/stg1enm2.png
!assets/th06-img/png/stg2bg.png
!assets/th06-img/png/stg2enm.png
!assets/th06-img/png/stg2enm2.png
!assets/th06-img/png/stg3bg.png
!assets/th06-img/png/stg3enm.png
!assets/th06-img/png/stg4bg.png
!assets/th06-img/png/stg4enm.png
!assets/th06-img/png/stg5bg.png
!assets/th06-img/png/stg5enm.png
!assets/th06-img/png/stg5enm2.png
!assets/th06-img/png/stg6bg.png
!assets/th06-img/png/stg6enm.png
!assets/th06-img/png/stg6enm2.png

playwright-report/
test-results/
.nyc_output/
coverage/

*.log
.DS_Store
Thumbs.db
